{% extends 'base.html.twig' %}

{% block title %}Album
{% endblock %}

{% block body %}
	<!-- Album-->
	<div class="container-fluid" style="margin-top:30px">

		<div class="row row-cols-1 row-cols-md-3 g-4">

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album1) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album2) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a short card.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album3) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album4) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album5) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album6) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album7) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow">
					<img src="{{ asset('assets/images/album/' ~ img_album8) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>

		</div>

{# Carousel #}
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('assets/images/album/' ~ img_album1) }}" alt="Los Angeles" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('assets/images/album/' ~ img_album2) }}" alt="Chicago" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('assets/images/album/' ~ img_album3) }}" alt="New York" class="d-block" style="width:100%">
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

{# Fin Carousel #}
	</div>
{% endblock %}
