{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top:30px">

		<div class="row">
			<div class="col-md-8 col-sm-8 col-lg-8">
				<h3>Actualités</h3>

				{% for post in lastposts %}

					<div class="card mb-4" style="background-color: #B0C4DE;">

						<div class="card text-left">
							<div class="card-body">
								{% if not post.imagefilename is empty %}
									<img src="{{ asset('assets/images/uploads/posts/' ~ post.imagefilename) }}" alt="" class="float-left img-fluid img-thumbnail" style="width:30%;height:30%;margin-right:15px;">
								{% endif %}
								<div class="d-flex justify-content-between">
									<div>
										<h4 class="card-title">{{ post.title }}</h4>
									</div>
									<div>
										<sup>
											{{ post.createdAt | date("d/m/Y") }}
										</sup>
									</div>
								</div>

								<p
									class="card-text" style="font-size: 14px;">
									{# {{ post.content | u.truncate(1100, ' ...', false) | raw }} #}
									{{ post.content | raw }}
								</p>
							</div>
							<div class="card-footer text-muted">
								<small>Posté par
									<a href="#">{{ post.user.email}}</a>
									dans la catégorie
									{{ post.category.name}}
								</small>
							</div>
						</div>

					</div>

				{% endfor %}

			</div>

			<!-- Barre latérale -->
			{{ include('shared/_sidebar.html.twig') }}

		</div>

	</div>
{% endblock %}
