{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<div class="container-fluid" style="margin-top:30px">

		<br>

		<div class="row">

			<div class="col-md-12 col-sm-12 col-lg-12">

				<h3>Article View</h3>

				<div class="card mb-4 border-info shadow">

					<div class="card-body">

						{% if not post.imagefilename is empty %}
							<img src="{{ asset('assets/images/uploads/posts/' ~ post.imagefilename) }}" alt="" class="float-start img-fluid rounded" style="width:30%;height:30%;margin-right:15px;">
						{% endif %}

						<div class="d-flex justify-content-between">

							<h5 class="card-title">{{ post.title }}</h5>
							<div>
								<sup>{{ post.createdAt | date("d/m/Y") }}</sup>
							</div>

						</div>

						<p class="card-text">{{ post.content | raw }}</p>
						<a href="{{ path('home') }}" class="card-link">
							Retour à l'Accueil
						</a>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}
