{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	Ajouter un article
{% endblock %}

{% block body %}

	<main>
		<div class="container-fluid px-4">
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Ajouter un article</li>
			</ol>

			{{ form_start(form) }}

			{{ form_row(form.title) }}
			{{ form_row(form.content) }}
			<div class="row">
				<div class="col-4">
					{{ form_row(form.category) }}
				</div>
			</div>
			{{ form_row(form.active) }}
			{{ form_row(form.imagefilename) }}
			<button type="submit" class="btn btn-lg btn-primary my-3" action="{{ path('admin_post_add') }}">Ajouter</button>
			{{ form_end(form) }}

		</div>
	</main>

{% endblock %}
