{% extends 'base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top:30px">

		<div class="card mb-4">
			<div class="card-header">
				<div class="row">
					<div class="col-5">
						<a href="{{ path('admin_post_add') }}" class="btn btn-primary btn-sm">Ajouter</a>
					</div>
					<div class="col-3">
						Articles
					</div>
					<div class="col-4">
						<form class="d-flex" method="POST" action="{{ path('admin_post_list') }}">
							<input name="keytitle" value="" class="form-control me-sm-2" type="text" placeholder="Titre" required>
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
						</form>
					</div>
				</div>

			</div>
			<div class="row gx-4 gx-lg-5 justify-content-center">
				{% for flashNotFound in app.flashes('NotFound') %}
					<div class="alert alert-danger" role="alert">{{ flashNotFound }}</div>
				{% endfor %}
			</div>
			<table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Titre</th>
						<th scope="col">Image</th>
						<th scope="col">Catégorie</th>
						<th scope="col">Crée</th>
						<th scope="col">Modifié</th>
						<th scope="col">Activé</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Titre</th>
						<th scope="col">Image</th>
						<th scope="col">Catégorie</th>
						<th scope="col">Crée</th>
						<th scope="col">Modifié</th>
						<th scope="col">Activé</th>
					</tr>
				</tfoot>

				<tbody>

					{% for post in posts %}
						<tr>
							<td>{{ post.id }}</td>
							<td>
								<a href="{{ path('admin_post_view', {id: post.id}) }}">{{ post.title | slice(0, 35) }}</a>
							</td>
							<td>
								{% if not post.imagefilename is empty %}
									<img src="{{ asset('assets/images/uploads/posts/' ~ post.imagefilename) }}" alt="" style="width:30px; height:30px">
								{% endif %}
							</td>
							<td>{{ post.category.name }}</td>
							<td>{{ post.createdAt | date("d/m/Y") }}</td>
							<td>{{ post.modifiedAt | date("d/m/Y") }}</td>
							<td>
								{% if post.active %}
									<i class="fas fa-check"></i>
								{% endif %}
							</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>
			{# display navigation #}
			<div class="navigation col-12">
				{{ knp_pagination_render(posts) }}
			</div>
		</div>
	</div>

{% endblock %}
