{% extends 'base.html.twig' %}

{% block title %}
	Modifier un article
{% endblock %}

{% block body %}

	<div class="container-fluid" style="margin-top:30px">

		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Modifier un article</li>
		</ol>
		<fieldset>

			<div class="row">

				<div class="col-8">
					{{ form_start(form) }}
					{{ form_row(form.title) }}
					{{ form_row(form.content) }}
					{{ form_row(form.category) }}
					{{ form_row(form.active) }}
					{{ form_row(form.imagefilename) }}
				</div>
				<div class="col-2">
					{% if not currentimgpost is empty %}
						<img src="{{ asset('assets/images/uploads/posts/' ~ currentimgpost) }}" alt="" class="img-thumbnail" width="200" height="200">
					{% endif %}
				</div>
			</div>

			<button type="submit" class="btn btn-primary btn-sm">Valider</button>
			<a href="{{ path('admin_post_list') }}" class="btn btn-primary btn-sm">Annuler</a>

			{{ form_end(form) }}

		</fieldset>

	</div>

{% endblock %}
