{% extends 'base.html.twig' %}

{% block title %}
	Article view
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">

			<div class="row">
				<div>
					<a href="{{ path('admin_post_update', {id: post.id}) }}" class="btn btn-success btn-sm">Modifier</a>
					{% if post.active %}
						<a href="{{ path('admin_post_activate', {id: post.id}) }}" class="btn btn-secondary btn-sm">Désactiver</a>
					{% else %}
						<a href="{{ path('admin_post_activate', {id: post.id}) }}" class="btn btn-secondary btn-sm">Activer</a>
					{% endif %}
					<a href="{{ path('admin_post_delete', {id: post.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
					<a href="{{ path('admin_post_list') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
				</div>
			</div>

			<!-- Article view -->
			<div class="row">
				<div class="card mb-4" style="background-color: #B0C4DE;">
					<div class="card-body bg-light text-dark">
						{% if not post.imagefilename is empty %}
							<img src="{{ asset('assets/images/uploads/posts/' ~ post.imagefilename) }}" alt="" class="float-left img-thumbnail" style="width:30%;height:30%;margin-right:15px;">
						{% endif %}
						<div class="d-flex justify-content-between">
							<div>
								<h4 class="card-title">{{ post.title }}</h4>
							</div>
							<div>
								<sup>{{ post.createdAt | date("d/m/Y") }}</sup>
							</div>
						</div>
						<p class="card-text" style="font-size: 14px;">
							{{ post.content | raw }}
						</p>
					</div>
				</div>
			</div>
			{# </div> #}
		</div>
	</div>
</main>{% endblock %}
