{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

	<div class="container-fluid" style="margin-top:30px">

		<div class="bd-content ps-lg-4">
			<div class="row pt-2">
				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<a href="{{ path('admin_post_list') }}">
										<h5 class="card-title text-center">Articles 2</h5>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<a href="{{ path('admin_user_list') }}">
										<h5 class="card-title text-center">Utilisateurs</h5>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<h5 class="card-title text-center">Agenda</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<h5 class="card-title text-center">Boîte à idées</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<h5 class="card-title text-center">Albums</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<h5 class="card-title text-center">Bureau</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<a href="{{ path('admin_category_list') }}">
										<h5 class="card-title text-center">Catégories</h5>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
					<div class="card bg-light mb-3">
						<div class="card-header">
							<div class="row">
								<div class="col-10 col-xl-10">
									<a href="{{ path('admin_category_list') }}">
										<h5 class="card-title text-center">Catégories 2</h5>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# {{ include('admin/testcard.html.twig') }} #}

	</div>

{% endblock %}
