{% extends 'admin/admin_base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<div class="card mb-4">
				<div class="card-header">
					<div class="row">
						<div class="col-5">
							<a href="{{ path('admin_category_add') }}" class="btn btn-primary btn-sm">Ajouter</a>
						</div>
						<div class="col-4">
							Liste des catégories
						</div>
					</div>
				</div>
				<table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
					<thead>
						<tr>
							<th>Id</th>
							<th>Catégorie</th>
							<th>Nb. Articles</th>
							<th>Actifs</th>
							<th>Inactifs</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Catégorie</th>
							<th>Nb. Articles</th>
							<th>Actifs</th>
							<th>Inactifs</th>
						</tr>
					</tfoot>
					<tbody>
						{% for categorie in categories %}
							<tr>
								<td>{{ categorie.id }}</td>
								<td>
									<a href="{{ path('admin_category_update', {id: categorie.id}) }}">{{ categorie.name }}</a>
								</td>
								<td>{{ categorie.posts | length }}</td>

								{% set actifs = 0 %}
								{% for post in categorie.posts %}
									{% set actifs = actifs + post.active %}
								{% endfor %}
								<td>{{ actifs }}</td>

								{% set inactifs = (categorie.posts | length) - actifs %}
								<td>{{ inactifs }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
