<!-- Barre latérale / Page Accueil -->
<div class="col-md-4 col-sm-4 col-lg-4">

	<h3>Agenda</h3>
	<div class="col">

		<div
			class="card mb-4 border-dark shadow">
			{# <div class="card h-100 border-dark shadow"> #}

			<div class="card-body">
				<a href="#">
					<img src="{{ asset('assets/images/valleefleurs.jpg') }}" class="card-img-top rounded" alt="...">
				</a>
				{# <h5 class="card-title">Card title</h5> #}
				<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			</div>
		</div>

	</div>

	<hr>

	<h3>Partenaires</h3>
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a class="nav-link disabled" href="">
				<i>Sponsor du dernier projet</i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="">
				<i>Nos amis de l'ACB</i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="">
				<i>A l'autre bout du monde...</i>
			</a>
		</li>
	</ul>

	{# <hr class="d-sm-none"> #}

	<hr>


	<h3>Projets</h3>
	<div class="col">
		<div class="card h-100 border-dark shadow">
			<div class="card-body">
				<a href="#">
					<img src="{{ asset('assets/images/refletsoleil.jpg') }}" class="card-img-top rounded" alt="...">
				</a>
				<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			</div>
		</div>
	</div>

	<hr>

	<h3>Réalisations</h3>
	<div class="col">
		<div class="card h-100 border-dark shadow">
			<div class="card-body">
				<a href="#">
					<img src="{{ asset('assets/images/valleefleurs.jpg') }}" class="card-img-top rounded" alt="...">
				</a>
				<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
														sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			</div>
		</div>
	</div>

	<hr>

	<h3>Articles archivés</h3>
	<div class="col">
		<div class="card h-100 border-dark shadow">
			<div class="card-body">
				<a href="#">
					<img src="{{ asset('assets/images/Tournoi2014.jpg') }}" class="card-img-top rounded" alt="...">
				</a>

				<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			</div>
		</div>
	</div>

	<hr>

	<div class="col">
		<h3>Articles archivés</h3>
		<div class="card h-100 border-dark shadow">
			<div class="card-body">
				<a href="#">
					<img src="{{ asset('assets/images/montagnefleurs.jpg') }}" class="card-img-top rounded" alt="...">
				</a>

				{# <h5 class="card-title">Card title</h5> #}
				<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
		</div>
	</div>

	<hr>

	<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<strong class="me-auto">Bootstrap</strong>
			<small>11 mins ago</small>
		</div>
		<div class="toast-body">
			Hello, world! This is a toast message.
		</div>
	</div>

</div>
