<!-- Barre latérale / Page Accueil -->
<div class="col-md-4 col-sm-4 col-lg-4">
	<h3>Agenda</h3>
	<h6>Soyez au rendez-vous</h6>
	<p>Légende...</p>
	<div class="col">
		<div class="card h-100">
			<img src="{{ asset('assets/images/valleefleurs.jpg') }}" class="card-img-top" alt="...">
			<div
				class="card-body">
				{# <h5 class="card-title">Card title</h5> #}
				<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
																sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			</div>
		</div>
	</div>

	<h3>Partenaires</h3>
	<h6>Une viste s'impose</h6>
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a class="nav-link disabled" href="">
				<i>Sponsor du dernier projet</i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="">
				<i>Nos amis de l'ACB</i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="">
				<i>A l'autre bout du monde...</i>
			</a>
		</li>
	</ul>
	<br>

	<hr class="d-sm-none">

	<div>
		<h3>Projets</h3>
		<h6>Votre avis compte</h6>
		<p>Une description..</p>
		<div class="col">
			<div class="card h-100">
				<img src="{{ asset('assets/images/refletsoleil.jpg') }}" class="card-img-top" alt="...">
				<div
					class="card-body">
					{# <h5 class="card-title">Card title</h5> #}
					<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
																	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
				</div>
			</div>
		</div>
		<br>

		<h3>Réalisations</h3>
		<h6>2 Sept 2021</h6>
		<p>Légende photo...</p>
		<div class="col">
			<div class="card h-100">
				<img src="{{ asset('assets/images/refletsoleil.jpg') }}" class="card-img-top" alt="...">
				<div
					class="card-body">
					{# <h5 class="card-title">Card title</h5> #}
					<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
																	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
				</div>
			</div>
		</div>

		<br>
		<h3>Articles archivés</h3>
		<h6>Un peu d'histoire</h6>
		<div class="col">
			<div class="card h-100">
				<img src="{{ asset('assets/images/Tournoi2014.jpg') }}" class="card-img-top" alt="...">
				<div
					class="card-body">
					{# <h5 class="card-title">Card title</h5> #}
					<p class="card-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
																	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
				</div>
			</div>
		</div>

		<br>

		<div class="col">
			<div class="card h-100">
				<img src="{{ asset('assets/images/montagnefleurs.jpg') }}" class="card-img-top" alt="...">
				<div
					class="card-body">
					{# <h5 class="card-title">Card title</h5> #}
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
			</div>
		</div>
	</div>

</div>
